@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
}

.modal-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
